<!DOCTYPE html>
<%#include "profile.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Profile</h1>

<%== linkTo("Create a new Profile", urla("create")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>User ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Nickname</th>
    <th>Email</th>
    <th>Password</th>
    <th>Date Joined</th>
    <th>Is Active</th>
  </tr>
<% tfetch(QList<Profile>, profileList); %>
<% for (const auto &i : profileList) { %>
  <tr>
    <td><%= i.userId() %></td>
    <td><%= i.firstName() %></td>
    <td><%= i.lastName() %></td>
    <td><%= i.nickname() %></td>
    <td><%= i.email() %></td>
    <td><%= i.password() %></td>
    <td><%= i.dateJoined() %></td>
    <td><%= i.isActive() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.userId())) %>
      <%== linkTo("Edit", urla("save", i.userId())) %>
      <%== linkTo("Remove", urla("remove", i.userId()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
