<!DOCTYPE html>
<%#include "profile.h" %>
<% tfetch(Profile, profile); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Profile</h1>
<dt>User ID</dt><dd><%= profile.userId() %></dd><br />
<dt>First Name</dt><dd><%= profile.firstName() %></dd><br />
<dt>Last Name</dt><dd><%= profile.lastName() %></dd><br />
<dt>Nickname</dt><dd><%= profile.nickname() %></dd><br />
<dt>Email</dt><dd><%= profile.email() %></dd><br />
<dt>Password</dt><dd><%= profile.password() %></dd><br />
<dt>Date Joined</dt><dd><%= profile.dateJoined() %></dd><br />
<dt>Is Active</dt><dd><%= profile.isActive() %></dd><br />
<dt>Lock Revision</dt><dd><%= profile.lockRevision() %></dd><br />

<%== linkTo("Edit", urla("save", profile.userId())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
