<!DOCTYPE html>
<%#include "invitation.h" %>
<% tfetch(QVariantMap, invitation); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Invitation</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>State<br /><input name="invitation[state]" value="<%= invitation["state"] %>" /></label>
  </p>
  <p>
    <label>Sender ID<br /><input name="invitation[senderId]" value="<%= invitation["senderId"] %>" /></label>
  </p>
  <p>
    <label>Addresse ID<br /><input name="invitation[addresseId]" value="<%= invitation["addresseId"] %>" /></label>
  </p>
  <p>
    <label>Contest ID<br /><input name="invitation[contestId]" value="<%= invitation["contestId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
