<!DOCTYPE html>
<%#include "invitation.h" %>
<% tfetch(QVariantMap, invitation); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Invitation</h1>

<%== formTag(urla("save", invitation["invitationId"]), Tf::Post) %>
  <p>
    <label>Invitation ID<br /><input type="text" name="invitation[invitationId]" value="<%= invitation["invitationId"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>State<br /><input type="text" name="invitation[state]" value="<%= invitation["state"] %>" /></label>
  </p>
  <p>
    <label>Sender ID<br /><input type="text" name="invitation[senderId]" value="<%= invitation["senderId"] %>" /></label>
  </p>
  <p>
    <label>Addresse ID<br /><input type="text" name="invitation[addresseId]" value="<%= invitation["addresseId"] %>" /></label>
  </p>
  <p>
    <label>Contest ID<br /><input type="text" name="invitation[contestId]" value="<%= invitation["contestId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>

<%== linkTo("Show", urla("show", invitation["invitationId"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
