<!DOCTYPE html>
<%#include "solution.h" %>
<% tfetch(QVariantMap, solution); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Solution</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Src File<br /><input name="solution[srcFile]" value="<%= solution["srcFile"] %>" /></label>
  </p>
  <p>
    <label>Submit Time<br /><input name="solution[submitTime]" value="<%= solution["submitTime"] %>" /></label>
  </p>
  <p>
    <label>Problem ID<br /><input name="solution[problemId]" value="<%= solution["problemId"] %>" /></label>
  </p>
  <p>
    <label>User ID<br /><input name="solution[userId]" value="<%= solution["userId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
