<!DOCTYPE html>
<%#include "solution.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Solution</h1>

<%== linkTo("Create a new Solution", urla("create")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>Solution ID</th>
    <th>Src File</th>
    <th>Submit Time</th>
    <th>Problem ID</th>
    <th>User ID</th>
  </tr>
<% tfetch(QList<Solution>, solutionList); %>
<% for (const auto &i : solutionList) { %>
  <tr>
    <td><%= i.solutionId() %></td>
    <td><%= i.srcFile() %></td>
    <td><%= i.submitTime() %></td>
    <td><%= i.problemId() %></td>
    <td><%= i.userId() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.solutionId())) %>
      <%== linkTo("Edit", urla("save", i.solutionId())) %>
      <%== linkTo("Remove", urla("remove", i.solutionId()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
