<!DOCTYPE html>
<%#include "solution.h" %>
<% tfetch(QVariantMap, solution); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Solution</h1>

<%== formTag(urla("save", solution["solutionId"]), Tf::Post) %>
  <p>
    <label>Solution ID<br /><input type="text" name="solution[solutionId]" value="<%= solution["solutionId"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Src File<br /><input type="text" name="solution[srcFile]" value="<%= solution["srcFile"] %>" /></label>
  </p>
  <p>
    <label>Submit Time<br /><input type="text" name="solution[submitTime]" value="<%= solution["submitTime"] %>" /></label>
  </p>
  <p>
    <label>Problem ID<br /><input type="text" name="solution[problemId]" value="<%= solution["problemId"] %>" /></label>
  </p>
  <p>
    <label>User ID<br /><input type="text" name="solution[userId]" value="<%= solution["userId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>

<%== linkTo("Show", urla("show", solution["solutionId"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
