<!DOCTYPE html>
<%#include "solution.h" %>
<% tfetch(Solution, solution); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Solution</h1>
<dt>Solution ID</dt><dd><%= solution.solutionId() %></dd><br />
<dt>Src File</dt><dd><%= solution.srcFile() %></dd><br />
<dt>Submit Time</dt><dd><%= solution.submitTime() %></dd><br />
<dt>Problem ID</dt><dd><%= solution.problemId() %></dd><br />
<dt>User ID</dt><dd><%= solution.userId() %></dd><br />
<dt>Lock Revision</dt><dd><%= solution.lockRevision() %></dd><br />

<%== linkTo("Edit", urla("save", solution.solutionId())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
