<!DOCTYPE html>
<%#include "submit.h" %>
<% tfetch(QVariantMap, submit); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Submit</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Resp Code<br /><input name="submit[respCode]" value="<%= submit["respCode"] %>" /></label>
  </p>
  <p>
    <label>Error Test<br /><input name="submit[errorTest]" value="<%= submit["errorTest"] %>" /></label>
  </p>
  <p>
    <label>Time<br /><input name="submit[time]" value="<%= submit["time"] %>" /></label>
  </p>
  <p>
    <label>Memory<br /><input name="submit[memory]" value="<%= submit["memory"] %>" /></label>
  </p>
  <p>
    <label>Solution ID<br /><input name="submit[solutionId]" value="<%= submit["solutionId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
