<!DOCTYPE html>
<%#include "submit.h" %>
<% tfetch(Submit, submit); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Submit</h1>
<dt>Submit ID</dt><dd><%= submit.submitId() %></dd><br />
<dt>Resp Code</dt><dd><%= submit.respCode() %></dd><br />
<dt>Error Test</dt><dd><%= submit.errorTest() %></dd><br />
<dt>Time</dt><dd><%= submit.time() %></dd><br />
<dt>Memory</dt><dd><%= submit.memory() %></dd><br />
<dt>Solution ID</dt><dd><%= submit.solutionId() %></dd><br />
<dt>Lock Revision</dt><dd><%= submit.lockRevision() %></dd><br />

<%== linkTo("Edit", urla("save", submit.submitId())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
