<!DOCTYPE html>
<%#include "message.h" %>
<% tfetch(QVariantMap, message); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Message</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Text<br /><input name="message[text]" value="<%= message["text"] %>" /></label>
  </p>
  <p>
    <label>Time Stamp<br /><input name="message[timeStamp]" value="<%= message["timeStamp"] %>" /></label>
  </p>
  <p>
    <label>Author ID<br /><input name="message[authorId]" value="<%= message["authorId"] %>" /></label>
  </p>
  <p>
    <label>Contest ID<br /><input name="message[contestId]" value="<%= message["contestId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
