<!DOCTYPE html>
<%#include "message.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Message</h1>

<%== linkTo("Create a new Message", urla("create")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>Message ID</th>
    <th>Text</th>
    <th>Time Stamp</th>
    <th>Author ID</th>
    <th>Contest ID</th>
  </tr>
<% tfetch(QList<Message>, messageList); %>
<% for (const auto &i : messageList) { %>
  <tr>
    <td><%= i.messageId() %></td>
    <td><%= i.text() %></td>
    <td><%= i.timeStamp() %></td>
    <td><%= i.authorId() %></td>
    <td><%= i.contestId() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.messageId())) %>
      <%== linkTo("Edit", urla("save", i.messageId())) %>
      <%== linkTo("Remove", urla("remove", i.messageId()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
