<!DOCTYPE html>
<%#include "message.h" %>
<% tfetch(Message, message); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Message</h1>
<dt>Message ID</dt><dd><%= message.messageId() %></dd><br />
<dt>Text</dt><dd><%= message.text() %></dd><br />
<dt>Time Stamp</dt><dd><%= message.timeStamp() %></dd><br />
<dt>Author ID</dt><dd><%= message.authorId() %></dd><br />
<dt>Contest ID</dt><dd><%= message.contestId() %></dd><br />
<dt>Lock Revision</dt><dd><%= message.lockRevision() %></dd><br />

<%== linkTo("Edit", urla("save", message.messageId())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
