<!DOCTYPE html>
<%#include "testsubmit.h" %>
<% tfetch(QVariantMap, testSubmit); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Test Submit</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Verdict<br /><input name="testSubmit[verdict]" value="<%= testSubmit["verdict"] %>" /></label>
  </p>
  <p>
    <label>Time<br /><input name="testSubmit[time]" value="<%= testSubmit["time"] %>" /></label>
  </p>
  <p>
    <label>Memory<br /><input name="testSubmit[memory]" value="<%= testSubmit["memory"] %>" /></label>
  </p>
  <p>
    <label>Test ID<br /><input name="testSubmit[testId]" value="<%= testSubmit["testId"] %>" /></label>
  </p>
  <p>
    <label>Submit ID<br /><input name="testSubmit[submitId]" value="<%= testSubmit["submitId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
