<!DOCTYPE html>
<%#include "testsubmit.h" %>
<% tfetch(QVariantMap, testSubmit); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Editing Test Submit</h1>

<%== formTag(urla("save", testSubmit["testSubmitId"]), Tf::Post) %>
  <p>
    <label>Test Submit ID<br /><input type="text" name="testSubmit[testSubmitId]" value="<%= testSubmit["testSubmitId"] %>" readonly="readonly" /></label>
  </p>
  <p>
    <label>Verdict<br /><input type="text" name="testSubmit[verdict]" value="<%= testSubmit["verdict"] %>" /></label>
  </p>
  <p>
    <label>Time<br /><input type="text" name="testSubmit[time]" value="<%= testSubmit["time"] %>" /></label>
  </p>
  <p>
    <label>Memory<br /><input type="text" name="testSubmit[memory]" value="<%= testSubmit["memory"] %>" /></label>
  </p>
  <p>
    <label>Test ID<br /><input type="text" name="testSubmit[testId]" value="<%= testSubmit["testId"] %>" /></label>
  </p>
  <p>
    <label>Submit ID<br /><input type="text" name="testSubmit[submitId]" value="<%= testSubmit["submitId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Save" />
  </p>
</form>

<%== linkTo("Show", urla("show", testSubmit["testSubmitId"])) %> |
<%== linkTo("Back", urla("index")) %>
</body>
</html>
