<!DOCTYPE html>
<%#include "test.h" %>
<% tfetch(QVariantMap, test); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>New Test</h1>

<%== formTag(urla("create"), Tf::Post) %>
  <p>
    <label>Input<br /><input name="test[input]" value="<%= test["input"] %>" /></label>
  </p>
  <p>
    <label>Output<br /><input name="test[output]" value="<%= test["output"] %>" /></label>
  </p>
  <p>
    <label>Problem ID<br /><input name="test[problemId]" value="<%= test["problemId"] %>" /></label>
  </p>
  <p>
    <input type="submit" value="Create" />
  </p>
</form>

<%== linkTo("Back", urla("index")) %>

</body>
</html>
