<!DOCTYPE html>
<%#include "contest.h" %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>

<h1>Listing Contest</h1>

<%== linkTo("Create a new Contest", urla("create")) %><br />
<br />
<table border="1" cellpadding="5" style="border: 1px #d0d0d0 solid; border-collapse: collapse;">
  <tr>
    <th>Contest ID</th>
    <th>Title</th>
    <th>Description</th>
    <th>Start Time</th>
    <th>Finish Time</th>
    <th>Is Private</th>
    <th>Is Active</th>
  </tr>
<% tfetch(QList<Contest>, contestList); %>
<% for (const auto &i : contestList) { %>
  <tr>
    <td><%= i.contestId() %></td>
    <td><%= i.title() %></td>
    <td><%= i.description() %></td>
    <td><%= i.startTime() %></td>
    <td><%= i.finishTime() %></td>
    <td><%= i.isPrivate() %></td>
    <td><%= i.isActive() %></td>
    <td>
      <%== linkTo("Show", urla("show", i.contestId())) %>
      <%== linkTo("Edit", urla("save", i.contestId())) %>
      <%== linkTo("Remove", urla("remove", i.contestId()), Tf::Post, "confirm('Are you sure?')") %>
    </td>
  </tr>
<% } %>
</table>

</body>
</html>
