<!DOCTYPE html>
<%#include "contest.h" %>
<% tfetch(Contest, contest); %>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= controller()->name() + ": " + controller()->activeAction() %></title>
</head>
<body>
<p style="color: red"><%=$ error %></p>
<p style="color: green"><%=$ notice %></p>

<h1>Showing Contest</h1>
<dt>Contest ID</dt><dd><%= contest.contestId() %></dd><br />
<dt>Title</dt><dd><%= contest.title() %></dd><br />
<dt>Description</dt><dd><%= contest.description() %></dd><br />
<dt>Start Time</dt><dd><%= contest.startTime() %></dd><br />
<dt>Finish Time</dt><dd><%= contest.finishTime() %></dd><br />
<dt>Is Private</dt><dd><%= contest.isPrivate() %></dd><br />
<dt>Is Active</dt><dd><%= contest.isActive() %></dd><br />
<dt>Lock Revision</dt><dd><%= contest.lockRevision() %></dd><br />

<%== linkTo("Edit", urla("save", contest.contestId())) %> |
<%== linkTo("Back", urla("index")) %>

</body>
</html>
